<div class="edit-topic-page page" [ngClass]="topic.theme">
  <!-- ------------------------------- Header -------------------------------- -->
  <div class="header">
    <app-title [text]="topic.topic"></app-title>
  </div>

  <!-- ------------------------------- Body -------------------------------- -->
  <div class="body">
    <div>{{ card.question }}</div>
    <div>{{ card.answer }}</div>
  </div>

  <!-- ------------------------------ Footer ------------------------------- -->
  <div class="footer">
    <app-button-icon icon="arrow-return-left" (onClick)="back()"></app-button-icon>
    <app-button-icon icon="check-lg" (onClick)="confirm()"></app-button-icon>
    <app-button-icon icon="trash3" (onClick)="deleteSlidebar.show()"></app-button-icon>
  </div>

  <!-- -------------------------- Delete Slidebar -------------------------- -->
  <app-slidebar-delete-card [topic]="topic" #deleteSlidebar></app-slidebar-delete-card>
</div>
