<div class="edit-topic-page page" [ngClass]="topic.theme">
  <!-- ------------------------------- Header -------------------------------- -->
  <div class="header">
    <app-title [text]="topic.topic"></app-title>
  </div>

  <!-- ------------------------------- Body -------------------------------- -->
  <div class="body">
    <app-question class="question" [card]="card"></app-question>
    <app-answer class="answer" [card]="card"></app-answer>
  </div>

  <!-- ------------------------------ Footer ------------------------------- -->
  <div class="footer">
    <app-footer-button-icon icon="arrow-return-left" (onClick)="back()"></app-footer-button-icon>
    <app-footer-button-icon icon="check-lg" (onClick)="confirm()"></app-footer-button-icon>
    <app-footer-button-icon icon="trash3" (onClick)="deleteSlidebar.show()"></app-footer-button-icon>
  </div>

  <!-- -------------------------- Delete Slidebar -------------------------- -->
  <app-slidebar-delete
    type="Card"
    name="this card"
    (onClose)="onCloseDeleteSlidebar($event)"
    #deleteSlidebar
  ></app-slidebar-delete>

  <!-- ------------------------------ Loader ------------------------------- -->
  <app-loader></app-loader>
</div>
