.question {
  width: 100%;
  height: 100%;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
  background-color: var(--surface-color);
  color: var(--onSurface-color);
  padding: 1em;
  font-size: var(--font-s);
  resize: none;

  &:focus {
    outline: 2px solid var(--primary-color);
  }
}
