.topic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0.75em 0;
  font-size: var(--font-l);

  /* --------------------------------- Topic -------------------------------- */
  .topic-name {
    width: 65%;
    background-color: var(--color-primary);
    color: var(--color-onPrimary);
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: bold;
  }

  /* --------------------------------- Play --------------------------------- */
  .play-btn {
    color: var(--color-primary);

    i {
      display: inline-block;
      scale: 1;
    }
  }
}
