<div
  class="topic"
  [ngStyle]="{
    '--topic-background-color' : theme.background,
    '--topic-color' : theme.normal,
}"
>
  <!-- ------------------------------ Color ------------------------------ -->
  <app-color-picker [theme]="theme" (onChangeColor)="onChangeColor($event)"></app-color-picker>

  <!-- ------------------------------- Name -------------------------------- -->
  <div class="topic-name">{{ topic.topic }}</div>

  <!-- ------------------------------- Play -------------------------------- -->
  <div class="play-btn"><i class="bi bi-play"></i></div>
</div>
