/* ------------------------------- Search Bar ------------------------------- */
.search-bar {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------- Topics --------------------------------- */
.topic-list {
  display: block;
  height: 85%;
  overflow-y: scroll;

  // Scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}
