::ng-deep .app-color-picker {
  .preview {
    background: var(--topic-background-color) !important;
    padding: 0.15em !important;

    .circle {
      width: 0.85em !important;
      height: 0.85em !important;
    }
  }
}
