<div class="topics-page page pink-theme">
  <!-- ------------------------------- Header -------------------------------- -->
  <div class="header">
    <app-title text="STUDY CARD"></app-title>
  </div>

  <!-- ------------------------------- Body -------------------------------- -->
  <div class="body">
    <app-search-bar class="search-bar" (onChange)="filterTopics($event)"></app-search-bar>

    <app-topic-list class="topic-list" [topics]="topicsFiltered"></app-topic-list>
  </div>

  <!-- ------------------------------ Footer ------------------------------- -->
  <div class="footer">
    <app-footer-button-icon icon="plus-lg" (onClick)="newTopic()"></app-footer-button-icon>
  </div>

  <app-loader></app-loader>
</div>
