/* ------------------------------- Search Bar ------------------------------- */
.search-bar {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* --------------------------------- Topics --------------------------------- */
.topic-list {
  display: block;
  height: 85%;
  overflow-y: scroll;

  // Scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
}

/* --------------------------- Delete Account Icon -------------------------- */
.delete-account-icon {
  position: absolute;
  bottom: 0.1em;
  left: 0.5em;
  font-size: var(--font-xs);
}