<div class="input-group search-bar">
  <!-- -------------------------------- Icon --------------------------------- -->
  <span class="input-group-text search-icon" id="icon-search">
    <i class="bi bi-search"></i>
  </span>

  <!-- ------------------------------- Field ------------------------------- -->
  <input
    class="search-field"
    type="text"
    placeholder="Search a topic"
    aria-label="Search a topic"
    aria-describedby="icon-search"
    [(ngModel)]="search"
    (ngModelChange)="emitOnChange()"
  />
</div>
