.search-bar {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  font-size: var(--font-m);
  flex-wrap: nowrap;

  // Icon
  .search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-size: var(--font-m);

    i {
      font-size: 0.6em;
    }
  }

  // Field
  .search-field {
    background-color: transparent;
    border: none;
    padding: 0.2em;
    flex-grow: 9;
    overflow-x: hidden;

    &:focus {
      outline: none;
    }
  }

  // Focused
  &:focus-within {
    outline: 2px solid var(--primary-color);
  }
}
