.body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.question {
  height: 25%;
}

.answer {
  height: 50%;
}

.show-answer-button {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    font-size: var(--font-l);
    background-color: var(--primary-color);
    color: var(--onPrimary-color);
    border-radius: var(--border-radius);
    padding: 0.5em 0.65em;
  }
}
