.icon-btn {
  color: var(--primary-color);
  position: relative;

  .stack-icons {
    font-size: var(--font-xxl);
    position: absolute;
    left: 0;
    &:first-child {
      position: static;
    }
  }
}
