<div class="edit-topic-page page" [ngClass]="topic.theme">
  <!-- ------------------------------- Header -------------------------------- -->
  <div class="header">
    <app-title [text]="topic.topic"></app-title>
  </div>

  <!-- ------------------------------- Body -------------------------------- -->
  <div class="body">
    <app-edit-card-list class="edit-card-list" [cards]="cards" [topic]="topic"></app-edit-card-list>
  </div>

  <!-- ------------------------------ Footer ------------------------------- -->
  <div class="footer">
    <app-footer-button-icon icon="arrow-return-left" routerLink="/topics"></app-footer-button-icon>
    <app-footer-button-icon icon="plus-lg" (onClick)="newCard()"></app-footer-button-icon>
    <app-footer-button-icon icon="alphabet" (onClick)="renameSlidebar.show()"></app-footer-button-icon>
    <app-footer-button-icon icon="trash3" (onClick)="deleteSlidebar.show()"></app-footer-button-icon>
  </div>

  <!-- -------------------------- Rename Slidebar -------------------------- -->
  <app-slidebar title="Topic name" (onClose)="onCloseRenameSlidebar($event)" #renameSlidebar>
    <!-- -------------------------------- Input -------------------------------- -->
    <div class="rename-topic-input-container">
      <input
        id="rename-topic-input"
        class="search-field"
        type="text"
        aria-label="Topic name"
        [(ngModel)]="newTopicName"
        name="newTopicName"
      />
    </div>
  </app-slidebar>

  <!-- -------------------------- Delete Slidebar -------------------------- -->
  <app-slidebar-delete
    type="Topic"
    [name]="'\'' + topic.topic + '\''"
    (onClose)="onCloseDeleteSlidebar($event)"
    #deleteSlidebar
  ></app-slidebar-delete>
</div>
