<div class="edit-topic-page page" [ngClass]="topic.theme">
  <!-- ------------------------------- Header -------------------------------- -->
  <div class="header">
    <app-title [text]="topic.topic"></app-title>
  </div>

  <!-- ------------------------------- Body -------------------------------- -->
  <div class="body"></div>

  <!-- ------------------------------ Footer ------------------------------- -->
  <div class="footer">
    <app-button-icon icon="arrow-return-left" routerLink="/home"></app-button-icon>
    <app-button-icon icon="plus-lg"></app-button-icon>
    <app-button-icon icon="alphabet" (onClick)="renameSlidebar.show()"></app-button-icon>
    <app-button-icon icon="trash3"></app-button-icon>
  </div>

  <!-- -------------------------- Rename Slidebar -------------------------- -->
  <app-slidebar-rename-topic
    [topic]="topic"
    (onRenamed)="onRenamed($event)"
    #renameSlidebar
  ></app-slidebar-rename-topic>
</div>
