.slidebar {
  position: absolute;
  height: 50%;
  width: 100%;
  background-color: var(--primaryContainer-color);
  border-radius: 1.5em 1.5em 0 0;
  padding: 2em;
}

.mask-slidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--surface-color);
  opacity: 0.8;
}
