/* --------------------------------- Import --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");

/* ----------------------------------- Var ---------------------------------- */
:root {
  --font-family: "Cabin Sketch", cursive;
  --border-radius: 0.2em;
}

/* -------------------------------- Palettes -------------------------------- */
// Red
.red-theme {
  --color-primary: #c00015;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffdad6;
  --color-onPrimaryContainer: #410002;
  --color-secondary: #775653;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #ffdad6;
  --color-onSecondaryContainer: #2c1513;
  --color-tertiary: #715b2e;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #fedfa6;
  --color-onTertiaryContainer: #261900;
  --color-error: #ba1a1a;
  --color-errorContainer: #ffdad6;
  --color-onError: #ffffff;
  --color-onErrorContainer: #410002;
  --color-background: #fffbff;
  --color-onBackground: #201a19;
  --color-surface: #fffbff;
  --color-onSurface: #201a19;
  --color-surfaceVariant: #f5dddb;
  --color-onSurfaceVariant: #534341;
  --color-outline: #857371;
  --color-onInverseSurface: #fbeeec;
  --color-inverseSurface: #362f2e;
  --color-inversePrimary: #ffb4ac;
  --color-shadow: #000000;
  --color-surfaceTint: #c00015;
  --color-outlineVariant: #d8c2bf;
  --color-scrim: #000000;
}

// Pink
.pink-theme {
  --color-primary: #bc004b;
  --color-onPrimary: #ffffff;
  --color-primaryContainer: #ffd9de;
  --color-onPrimaryContainer: #400014;
  --color-secondary: #75565b;
  --color-onSecondary: #ffffff;
  --color-secondaryContainer: #ffd9de;
  --color-onSecondaryContainer: #2c1519;
  --color-tertiary: #795831;
  --color-onTertiary: #ffffff;
  --color-tertiaryContainer: #ffddba;
  --color-onTertiaryContainer: #2b1700;
  --color-error: #ba1a1a;
  --color-errorContainer: #ffdad6;
  --color-onError: #ffffff;
  --color-onErrorContainer: #410002;
  --color-background: #fffbff;
  --color-onBackground: #201a1b;
  --color-surface: #fffbff;
  --color-onSurface: #201a1b;
  --color-surfaceVariant: #f3dddf;
  --color-onSurfaceVariant: #524345;
  --color-outline: #847375;
  --color-onInverseSurface: #fbeeee;
  --color-inverseSurface: #362f2f;
  --color-inversePrimary: #ffb2be;
  --color-shadow: #000000;
  --color-surfaceTint: #bc004b;
  --color-outlineVariant: #d6c2c3;
  --color-scrim: #000000;
}

/* ------------------------------ Media Queries ----------------------------- */
// Mobile S (<= 320px)
@media screen and (max-width: 400px) {
  :root {
    --font-xs: 0.55em;
    --font-s: 0.8em;
    --font-m: 1.05em;
    --font-l: 1.5em;
    --font-xl: 1.95em;
    --font-xxl: 2.7em;
    --font-xxxl: 3.4em;
  }
}

// Mobile L (<= 425px)
@media screen and (min-width: 400px) and (max-width: 600px) {
  :root {
    --font-xs: 0.75em;
    --font-s: 1em;
    --font-m: 1.25em;
    --font-l: 1.75em;
    --font-xl: 2.25em;
    --font-xxl: 3em;
    --font-xxxl: 3.75em;
  }
}

// Tablet S (<= 768px)
@media screen and (min-width: 600px) and (max-width: 800px) {
  :root {
    --font-xs: 0.9em;
    --font-s: 1.25em;
    --font-m: 1.55em;
    --font-l: 2em;
    --font-xl: 2.6em;
    --font-xxl: 3.4em;
    --font-xxxl: 4em;
  }
}

// Tablet L (> 768px)
@media screen and (min-width: 800px) {
  :root {
    --font-xs: 1em;
    --font-s: 1.35em;
    --font-m: 1.7em;
    --font-l: 2.15em;
    --font-xl: 2.8em;
    --font-xxl: 3.6em;
    --font-xxxl: 4.25em;
  }
}

/* ---------------------------------- Body ---------------------------------- */
body {
  // RESET
  margin: 0;
  height: 100vh;

  // Default typo
  font-size: var(--font-m);
  font-family: var(--font-family);
}

/* ---------------------------------- Pages --------------------------------- */
.page {
  height: 100%;

  // Color
  background-color: var(--color-background);
  color: var(--color-onbackground);

  // Header
  .header {
    height: 15%;
  }

  // Body
  .body {
    height: 72.5%;
    > * {
      width: 100%;
      padding: 0 5%;
    }
  }

  // Footer
  .footer {
    height: 12.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/* ---------------------------------- Icons --------------------------------- */
.bi::before {
  vertical-align: -0.25em;
}
