<app-slidebar #slidebar>
  <form>
    <!-- -------------------------------- Input -------------------------------- -->
    <div class="slidebar-input-group">
      <label for="rename-topic-input">Topic Name</label>
      <input
        id="rename-topic-input"
        class="search-field"
        type="text"
        aria-label="Topic name"
        [(ngModel)]="newTopicName"
        name="newTopicName"
      />
    </div>

    <!-- ----------------------------- Buttons ----------------------------- -->
    <app-slidebar-footer (onCancel)="cancelRename()" (onConfirm)="confirmRename()"></app-slidebar-footer>
  </form>
</app-slidebar>
